{% extends "layout.html" %}

{% block title %}Create Post{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .blog-post-form {
      border: 1px solid #cacaca;
      padding: 1rem;
      border-radius: 0;
    }
    .error{
      color: red;
      margin-bottom: 1rem;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row align-middle">
<div class="small-12 medium-8 large-8 columns">
  <form class="blog-post-form" method="post">
    <h2>Edit Post</h2>

    <label>Title
      <input type="text" placeholder="" name="title" value="{{post.title}}">
      <small class="error">{{error_title}}</small>
    </label>

    <label>Content
      <textarea placeholder="" name="body" rows="10">{{post.body}}</textarea>
      <small class="error">{{error_body}}</small>
    </label>
	<p class="error">{{error}}</p>
    <button class="button " type="submit">Submit</button>
    <a href="/blog/{{post.key.id()}}" class="secondary button">Cancel</a>
    <a href="/blog/{{post.key.id()}}/delete" class="alert button">Delete</a>
    
  </form>
</div>
</div>

{% endblock %}
